In [6]:
# Import pandas
import pandas as pd
import numpy as np

In [27]:
# Create a DataFrame with balance.txt
df = pd.read_csv('balance.txt',sep=' ')
df = df.iloc[:,:]
print(df)

       Balance   Income  Limit  Rating  Cards  Age  Education  Gender Student  \
0    12.240798   14.891   3606     283      2   34         11    Male      No
1    23.283334  106.025   6645     483      3   82         15  Female     Yes
2    22.530409  104.593   7075     514      4   71         11    Male      No
3    27.652811  148.924   9504     681      3   36         11  Female      No
4    16.893978   55.882   4897     357      2   68         16    Male      No
..         ...      ...    ...     ...    ...  ...        ...     ...     ...
395   8.764984   12.096   4100     307      3   32         13    Male      No
396   9.943838   13.364   3838     296      5   65         17    Male      No
397  14.882078   57.872   4171     321      5   67         12  Female      No
398  12.001071   37.728   2525     192      1   44         13    Male      No
399  10.159598   18.701   5524     415      5   64          7  Female      No

    Married         Ethnicity
0       Yes         Caucasian
1       Yes             Asian
2        No             Asian
3        No             Asian
4       Yes         Caucasian
..      ...               ...
395     Yes         Caucasian
396      No  African American
397     Yes         Caucasian
398     Yes         Caucasian
399      No             Asian

[400 rows x 11 columns]

Write the code needed to produce a report that provides the following information:
* Compare the average income based on ethnicity. 
* On average, do married or single people have a higher balance?
* What is the highest income in our dataset?
* What is the lowest income in our dataset?
* How many cards do we have recorded in our dataset? (Hint: use `sum()`)
* How many females do we have information for vs how many males? (Hint: use `count()`For a list of all methods for computation of descriptive stats, explore the [pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html#computations-descriptive-stats)).

In [28]:
#Compare the average income based on ethnicity. 
df["Income"] = pd.to_numeric(df["Income"], downcast="float")
ethnicity_income = df.groupby("Ethnicity")["Income"].mean()
print(ethnicity_income)

Ethnicity
African American    47.682098
Asian               44.187836
Caucasian           44.521946
Name: Income, dtype: float32

In [29]:
# On average, do married or single people have a higher balance?
df["Balance"] = pd.to_numeric(df["Balance"], downcast="float")
groupedby_married = df.groupby("Married")["Balance"]

married_balance = df.loc[df["Married"] == "Yes", "Balance"].mean()
print("The mean balance for married people is ", married_balance)

single_balance = df.loc[df["Married"] == "No", "Balance"].mean()
print("The mean balance for single people is ", single_balance)

if married_balance > single_balance:
    print("Married people have a higher balance on average.")
else:
    print("Single people have a higher balance on average.")

The mean balance for married people is  13.388474
The mean balance for single people is  13.493509
Single people have a higher balance on average.

In [30]:
# What is the highest income in our dataset?
print("The highest income in our dataset is", df.loc[:,"Income"].max())

The highest income in our dataset is 186.63400268554688

In [31]:
# What is the lowest income in our dataset?
print("The lowest income in our dataset is", df.loc[:,"Income"].min())

The lowest income in our dataset is 10.354000091552734

In [32]:
# How many cards do we have recorded in our dataset?
print("The total number of cards recorded in our dataset is", df.loc[:,"Cards"].sum())

The total number of cards recorded in our dataset is 1183

In [44]:
# How many females do we have information for vs how many males?
num_females = df[df.Gender == "Female"].loc[:,"Gender"].count()
print(f"We have information on {num_females} females")

num_males = df[df.Gender == "Male"].loc[:,"Gender"].count()
print(f"We have information on {num_males} males")

We have information on 207 females
We have information on 193 males